body {
    background-color: darkred;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#main {
    background-color: whitesmoke;
    width: 70%;
    margin: 0 auto;
    padding: 0 1rem 2rem 1rem;
}
#header {
    background-color: lightgray;
    border-radius: .25rem;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}
#header img {
    max-width: 242px;
    float: right;
}